/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

    *,
    *::before,
    *::after {
        background: #fff !important;
        color: #000 !important;
        /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " ("attr(href) ")";
    }

    abbr[title]::after {
        content: " ("attr(title) ")";
    }

    /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*Common CSS*/
* {
    margin: 0 auto;
    padding: 0;
    outline: 0;
}

ul,
li {
    list-style-type: none;
}

img {
    vertical-align: middle;
}

a {
    text-decoration: none;
}


.clr {
    clear: both;
}

.full-wrapper {
    width: 100%;
    margin: 0 auto;
}


.wrapper {
    width: 960px;
    margin: 0 auto;
}

.wrapper-fluid {
    width: 900px;
    margin: 0 auto;
}

/*=== CSS Start Here ===*/


/*== Header Start ==*/
.nav {
    background: gray;
    /*    padding-right: 30px;*/
    display: block;
}

.search-container {
    float: right;
}

.nav input[type=text] {
    font-size: 17px;
    border-radius: 0px 0px 10px 10px;
    background: #ebebea;
    padding: 10px;
    border: none;
}

.nav .search-container button {
    border-radius: 15px 15px 16px 15px;
    background: #ffffff;
    font-size: 17px;
    border: none;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    width: 25px;
    height: 25px;
    line-height: 1.375rem;
    text-align: center;
    pointer-events: none;
    right: 315px;
    top: 7px;
    color: #a16eb5;
}

.nav .search-container button:hover {
    background: #ccc;
}



.head {
    width: 100%;
    padding-bottom: 30px;
}

.logo {
    width: 30%;
    float: left;
}

.logo h1 {
    font-family: 'Georgia Regular';
    font-weight: normal;
    font-size: 36px;
    color: #666666;
}

.logo h1 span {
    font-family: 'Georgia Regular';
    font-weight: normal;
    font-size: 26px;
    color: #666666;
}

.logo h2 {
    font-family: 'Georgia Regular';
    font-weight: normal;
    font-size: 12px;
    color: #999999;

}

.menu {
    width: 70%;
    float: right;
}

.menu ul {
    list-style-type: none;
    padding: 41px 0px 0px 0px;
    text-align: right;
}

.menu ul li {
    display: inline-block;

}

.menu ul li a {
    padding: 15px 0px 15px 15px;
    font-family: 'Georgia Regular';
    font-weight: normal;
    font-size: 12px;
    color: #666666;
    text-transform: uppercase;
}

.menu ul li a:hover {
    color: black;
}

.banner-bg {
    background: #ebebea;
}

.banner-text h1 {
    padding: 20px 150px;
    text-align: center;
    font-family: 'Georgia Regular';
    font-weight: normal;
    font-size: 22px;
    color: #333333;
    font-style: italic;
    margin: 0;
}

/*== Header End ==*/



/*== Slider Start ==*/
.slider {
    width: 100%;
    background: black;
}

.slider-images img {
    width: 100%;
}

.slider-images {
    position: relative;
    overflow: hidden;
}

.slider-content {
    position: absolute;
    width: 45%;
    background: #0f0f0f;
    padding-left: 33px;
    bottom: 0px;
    right: -40%;
    text-align: left;
}

.slider-content h5 {
    font-family: 'Georgia Regular';
    font-weight: normal;
    font-size: 20px;
    color: #c2c2c2;

}

.slider-content p {
    font-family: 'Georgia Regular';
    font-weight: normal;
    font-size: 13px;
    color: #c2c2c2;
    margin: 0;
}

.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.carousel-indicators {
    right: 45%;
    bottom: 0;
    left: -300px;

}

/*== Slider End ==*/


/*=== Item Start ===*/
.iteam {
    width: 100%;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 50px;
}

.main-iteam {
    width: 30%;
    float: left;
    margin-left: 30px;
}

.iteam-images {
    width: 30%;
    float: left;
}

.iteam-content {
    width: 70%;
    float: right;
}

.iteam-content h1 {
    text-align: left;
    font-family: 'Georgia Regular';
    font-weight: normal;
    font-size: 16px;
    color: #894aa3;


}

.iteam-content p {
    text-align: left;
    font-family: 'Georgia Regular';
    font-weight: normal;
    font-size: 13px;
    color: #666666;
    padding-top: 25px;
    padding-bottom: 20px;
    line-height: 1.8;

}

/*=== Item End ===*/


/*=== Blog Start ===*/
.blog {
    width: 100%;
    padding: 50px 0px;
    background: #ebebea;
}

.blog-iteam {
    width: 29%;
    padding: 10px;
    background: white;
    float: left;
    margin-left: 30px;
}

.blog-iteam img {
    width: 100%;

}

.blog-iteam h1 {
    text-align: center;
    font-family: 'Georgia Regular';
    font-weight: normal;
    font-size: 16px;
    color: #894aa3;
    padding-top: 12px;

}

.blog-iteam p {
    text-align: center;
    font-family: 'Georgia Regular';
    font-weight: normal;
    font-size: 13px;
    color: #666666;
    padding-top: 25px;
    padding-bottom: 20px;

}

/*=== Item End ===*/


/*=== Footer Start ===*/
.footer {
    width: 100%;
}

.footer-content {
    width: 25%;
    float: left;
    padding-left: 30px;
}

.footer-content h1 {
    padding-top: 40px;
    padding-bottom: 30px;
    font-family: 'Georgia Regular';
    font-weight: normal;
    font-size: 13px;
    color: #666666;
}

.footer-content p {
    font-family: 'Georgia Regular';
    font-weight: normal;
    font-size: 13px;
    color: #999999;
    line-height: 1.6;
}

.footer-content p span {
    display: block;
}

.footer-content ul {
    list-style-type: none;
}

.footer-content ul li {
    border-bottom: solid 1px #ebebeb;
    line-height: 2;
}

.footer-content ul li a {
    font-family: 'Georgia Regular';
    font-weight: normal;
    font-size: 12px;
    color: #999999;
}

.footer-content h2 {
    font-family: 'Georgia Regular';
    font-weight: bold;
    font-size: 13px;
    color: #999999;
}

.footer-content p a {
    font-family: 'Georgia Regular';
    font-weight: normal;
    font-size: 12px;
    color: #874ca0;
    float: right;
}

.contact-form {
    line-height: 2.6;
}

.contact-form input[type=text] {
    font-family: 'Georgia Regular';
    font-size: 13px;
    border-radius: 10px;
    background: #ebebea;
    padding: 10px;
    border: none;
    width: 80%;
}

.contact-form input[type=mail] {
    font-family: 'Georgia Regular';
    font-size: 13px;
    border-radius: 10px;
    background: #ebebea;
    padding: 10px;
    border: none;
    width: 80%;
}

button,
input {
    line-height: initial;
}



.contact-form button {
    font-family: 'Georgia Regular';
    font-size: 13px;
    border-radius: 10px;
    background: #ebebea;
    padding: 10px;
    border: none;
    color: #874ca0;
    cursor: pointer;
}





.copyright {
    background: #444444;
    padding: 25px 0px;
    margin-top: 30px;
}

.copy-left {
    float: left;
}

.copy-right {
    float: right;
}

.copy-left h1 {
    font-family: 'Georgia Regular';
    font-weight: normal;
    font-size: 12px;
    color: #d0d0d0;
    padding-left: 30px;
}

.copy-right h1 {
    font-family: 'Georgia Regular';
    font-weight: normal;
    font-size: 12px;
    color: #d0d0d0;
    padding-right: 30px;
}

/*=== Footer End ===*/
